li{
    color: white;
    font-size: 20px;
}

h1{
    color: red;
}

.paragraph{
    width: 99%;
    border-radius: 10px;
    padding: 20px;
    background-color: #EBEDF0;
    
}

div{
    margin: 10px;
}

p{
    line-height: 1.3;      /* Set line height */
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
}

img{
    border-radius: 10px;
}

iframe{
    width: 410px;
    height: 1000px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }


  label{
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(57, 92, 198);
  }


  /* Media Query for Responsive Design */
@media (max-width: 768px) {
    .content {
        padding: 10px;
    }

    /* Add more responsive styles as needed */
}